@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-hover {
  color: $color-main;
  transform: scale(1.5);
  transition: all $time-button-hover;
}