@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin quote-text {
  font-size: 2rem;
  font-weight: 600;
}

@mixin size-buttons {
  width: $size-buttons;
  height: $size-buttons;
}