@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-hover {
  color: $color-main;
  transform: scale(1.5);
  transition: all $time-button-hover;
}

@mixin button {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  transition: all $time-button-hover;
  &:hover {
    @include button-hover;
  }
}