$color-main: rgb(96, 210, 214);
$color-secondary: #dfd12f;
$color-mobile-menu-background: #aaa;

$layout-mobile-menu-margin: 30px;
$container-width: 1000px;
$border-radius: 1rem;

$media-first-breakpoint: 768px;
$media-second-breakpoint: 1280px;

$time-mobile-menu: 0.5s;