// overall
$images-amount: 27;

// colors
$color-main: rgb(96, 210, 214);
$color-secondary: #dfd12f;
$color-gradient: linear-gradient(45deg, $color-secondary 0%, rgba(96,210,214,1) 100%);

// layout
$layout-mobile-menu-margin: 30px;
$layout-container-width: 800px;
$layout-grid-container-width: 1000px;
$layout-sm-padding: 1.5rem;
$layout-sm-buttons-offset: 1.5rem;
$layout-sm-grid-gap: 10px;

// size
$size-border-radius: 0.6rem;
$size-sm-buttons: 70px;
$size-keyboard-button: 70px;

// media
$media-first-breakpoint: 768px;
$media-second-breakpoint: 1280px;

// time
$time-mobile-menu: 0.5s;
$time-grid-items: 0.3s;
$time-modal: 0.6s;
$time-button-hover: 0.2s;
$time-message-slide: 0.3s;