@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap&subset=latin-ext');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import "normalize";
@import "variables";
@import "mixins";
@import "animations";
@import "helpers";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
}

button {
  background: none;
  border: none;
}

.fa-quote-right {
  vertical-align: top;
}

/*
########     ###     ######   ########
##     ##   ## ##   ##    ##  ##
##     ##  ##   ##  ##        ##
########  ##     ## ##   #### ######
##        ######### ##    ##  ##
##        ##     ## ##    ##  ##
##        ##     ##  ######   ########
*/

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
  pointer-events: none;

  &--onload {
    visibility: visible;
    opacity: 1;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: $layout-sm-padding;
  user-select: none;
  width: 100%;
  overflow: hidden;
  background: #fff;
  background: $color-gradient;

  @for $i from 1 to $images-amount {
    &--#{$i} {
      background: url("../assets/img/#{$i}.jpeg");
      background-position: center center;
      background-size: cover;
    }
  }
}

/*
##     ## ########    ###    ########  ######## ########
##     ## ##         ## ##   ##     ## ##       ##     ##
##     ## ##        ##   ##  ##     ## ##       ##     ##
######### ######   ##     ## ##     ## ######   ########
##     ## ##       ######### ##     ## ##       ##   ##
##     ## ##       ##     ## ##     ## ##       ##    ##
##     ## ######## ##     ## ########  ######## ##     ##
*/

.header {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;

  &--centered {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
  }
  
  &__container {
    max-width: 70%;

    &--centered {
      max-width: none;
    }
  }
  
  &__heading {
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  &__description {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    & {

      &__container {
        max-width: none;
      }

      &__heading {
        font-size: 2.2rem;
      }

      &__description {
        font-size: 1rem;
      }
    }
  }
}

/*
##    ##    ###    ##     ##
###   ##   ## ##   ##     ##
####  ##  ##   ##  ##     ##
## ## ## ##     ## ##     ##
##  #### #########  ##   ##
##   ### ##     ##   ## ##
##    ## ##     ##    ###
*/

.nav {
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  text-align: center;
  width: 100%;

  &__flex-list {
    @include flex-center;
    list-style: none;
  }
    
  &__link {
    @include flex-center;
    color: #fff;
    font-size: 4rem;
    text-decoration: none;
    transition: all $time-grid-items;

    &--icon {

      & > i {
        font-size: 2.2rem;
        pointer-events: none;
      }

      &:hover {
        @include button-hover;
      }
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  
  &__day {
    color: $color-main;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
  }

  @media only screen and (min-width: $media-first-breakpoint) {
 
    & {
      justify-content: flex-start;

      &__link {
        &--icon {
          & > i {
            font-size: 2.5rem;
          }
        }
      }

      &__day {
        color: $color-main;
        font-size: 1.4rem;
        margin: 0 1rem;
      }
    }
  }
}

/*
 ######   ########  #### ########
##    ##  ##     ##  ##  ##     ##
##        ##     ##  ##  ##     ##
##   #### ########   ##  ##     ##
##    ##  ##   ##    ##  ##     ##
##    ##  ##    ##   ##  ##     ##
 ######   ##     ## #### ########
*/

.grid {

  &__container {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 150px $layout-sm-padding;
    background: #000;
    visibility: hidden;
    overflow: auto;
    opacity: 0;
    transition: visibility 0s $time-mobile-menu, opacity $time-mobile-menu;
    z-index: 1;
  
    &--visible {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity $time-mobile-menu;
    }
  }
  
  &__list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: grid;
    max-width: $layout-grid-container-width;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    grid-gap: $layout-sm-grid-gap $layout-sm-grid-gap; 
    justify-items: stretch;
    align-items: stretch;
    z-index: 1;
  
    &::after {
      content: "";
      height: $layout-sm-padding;
      grid-column-start: 1;
      order: 1;
    }
  }
  
  &__item {
    min-height: 80px;
    max-height: 120px;
    width: 100%;
    height: 100%;
    border-radius: $size-border-radius;
    overflow: hidden;
    transition: opacity $time-grid-items;
    position: relative;
    transform: scale(0);
    opacity: 0;

    &--random,
    &--contact {
      order: 1;
    }

    &--animated {
      animation: popIn 0.5s ease-out;
      animation-fill-mode: forwards;
      opacity: 1;
    }

    @for $i from 1 to $images-amount+2 {
      &--#{$i} {
        animation-delay: #{$i * 0.03}s;
      }
    }
  }

  &__link {
    @include flex-center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    transition: all $time-grid-items;
    height: 100%;
    width: 100%;

    @for $i from 1 to $images-amount {
      &--#{$i} {
        background: url("../assets/img/thumbs_200px/#{$i}.jpeg");
        background-position: center center;
        background-size: cover;
        filter: saturate(0);
      }
      &--#{$i}::after {
        content: "##{$i}";
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity $time-grid-items;
      }
      &--#{$i}:hover::after {
        opacity: 1;
        transition: opacity $time-grid-items;
      }
      &--#{$i}:hover {
        filter: saturate(1);
        transform: scale(1.5);
      }
    }

    &--menu {
      background: none;

      &:hover {
        background-color: $color-main;
      }
    }
    
    &--contact {
      background: none;

      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    &__container {
      background: $color-gradient;
    }

    &__list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/*
########  ##     ## ######## ########  #######  ##    ##  ######
##     ## ##     ##    ##       ##    ##     ## ###   ## ##    ##
##     ## ##     ##    ##       ##    ##     ## ####  ## ##
########  ##     ##    ##       ##    ##     ## ## ## ##  ######
##     ## ##     ##    ##       ##    ##     ## ##  ####       ##
##     ## ##     ##    ##       ##    ##     ## ##   ### ##    ##
########   #######     ##       ##     #######  ##    ##  ######
*/

.buttons {
  position: fixed;  // MIXIN
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  max-height: 130px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding: $layout-sm-buttons-offset;
  background-color: rgba(0,0,0,0);
  transition: all 0s;
  z-index: 1;

  &--fixed {
    position: absolute;
  }

  &--background {
    background-color: rgba(0,0,0,1);
    transition: all 0s $time-mobile-menu;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    & {
      max-width: 150px;
      max-height: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &--fixed {
      position: fixed;
    }

    &--background {
      background: none;
    }
  }
}

.button {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: $size-sm-buttons;
  max-width: $size-sm-buttons;
  opacity: 1;
  transition: visibility 0s, opacity $time-mobile-menu;

  &__svg {
    width: 100%;
    fill: #fff;
    pointer-events: none;
    transition: fill $time-mobile-menu;

    &--burger {
      position: absolute;
      top: 0;
      right: 0;
      max-height: $size-sm-buttons;
      max-width: $size-sm-buttons;
    }

    &--burger-upper {
      transform-origin: 8% 55%;
      transition: fill $time-mobile-menu, transform 0.5s;
    }

    &--burger-open {
      transform: rotateZ(-30deg);
    }

  }
  
  &:hover .button__svg {
    fill: $color-secondary;
  }

  &--burger {
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.3) rotate(15deg);
      transition: transform 0.3s;
    }
  }

  &--random {

    &:hover {
      animation: shake 0.9s cubic-bezier(.36,.07,.19,.97);
      transform: translate(0, 0);
    }
  }
  
  &--main  {
    position: relative;
    align-self: center;
    white-space: nowrap;
    text-align: center;
    max-width: $size-sm-buttons * 1.5;
    max-height: $size-sm-buttons * 1.5;

    &::after {
      content: "Pull random quote!";
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translate(-50%, -500%);
      font-size: 0.8rem;
      text-align: center;
      color: $color-secondary;
      font-weight: bold;
      opacity: 0;
      transition: all 0.5s;
      pointer-events: none;
    }
    
    &:hover::after {
      transform: translate(-50%, 0);
      opacity: 1;
      transition: all 0.5s;
    }
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s $time-mobile-menu, opacity $time-mobile-menu;
  }
  
  @media only screen and (min-width: $media-first-breakpoint) {

    &--burger {
      margin-bottom: 1rem;
    }

    &--hidden-on-mobile {
      visibility: visible;
      opacity: 1;
    }

    &--main {
  
      &::after {
        font-size: 1rem;
      }
    }
  }
}

/*
##    ## ######## ##    ## ########   #######     ###    ########  ########
##   ##  ##        ##  ##  ##     ## ##     ##   ## ##   ##     ## ##     ##
##  ##   ##         ####   ##     ## ##     ##  ##   ##  ##     ## ##     ##
#####    ######      ##    ########  ##     ## ##     ## ########  ##     ##
##  ##   ##          ##    ##     ## ##     ## ######### ##   ##   ##     ##
##   ##  ##          ##    ##     ## ##     ## ##     ## ##    ##  ##     ##
##    ## ########    ##    ########   #######  ##     ## ##     ## ########
*/

.keyboard {
  display: none;

  &__button {
    fill: rgb(218, 218, 218);
    width: $size-keyboard-button;
    height: $size-keyboard-button;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 0.5rem;
    margin: 0 0.5rem;

    &--left {
      animation: slideLeft 2s ease-out infinite;
    }
    
    &--right {
      animation: slideRight 2s ease-out infinite;
    }
    
    &--enter {
      animation: fadeInOut 2s ease-out infinite;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  @media only screen and (min-width: $media-first-breakpoint) {
    & {
      @include flex-center;
    }
  }
}

/*
 #######  ##     ##  #######  ######## ########
##     ## ##     ## ##     ##    ##    ##
##     ## ##     ## ##     ##    ##    ##
##     ## ##     ## ##     ##    ##    ######
##  ## ## ##     ## ##     ##    ##    ##
##    ##  ##     ## ##     ##    ##    ##
 ##### ##  #######   #######     ##    ########
*/

.quote {
  flex-grow: 1;
  text-align: center;
  @include flex-center;
  flex-direction: column;
  justify-content: space-around;
  
  &__heading {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: -4rem;
    color: rgba(255, 255, 255, 0.2);
  }

  &__blockquote {
    border-radius: 2rem;
    box-shadow: 0 0 0 50rem rgba(0, 0, 0, 0.2), 0 0 3rem rgba(0, 0, 0, 0.4);
    padding: 1rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
    max-width: $layout-container-width;
  }
  
  &__text {
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-main;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  &__mark {
    font-size: 2rem;
  }
  
  &__author {
    text-align: right;
    font-size: 1rem;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    &__blockquote {
      padding: 3rem;
      padding-top: 8rem;
    }
    
    &__heading {
      font-size: 2.2rem;
      margin-top: 6rem;
      margin-bottom: -6rem;
    }

    &__text { font-size: 2rem; }
    &__mark { font-size: 3rem; }
  }
}

/*
##     ##  #######  ########     ###    ##
###   ### ##     ## ##     ##   ## ##   ##
#### #### ##     ## ##     ##  ##   ##  ##
## ### ## ##     ## ##     ## ##     ## ##
##     ## ##     ## ##     ## ######### ##
##     ## ##     ## ##     ## ##     ## ##
##     ##  #######  ########  ##     ## ########
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-center;
  padding: $layout-sm-padding;
  background: $color-gradient;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s $time-modal, opacity $time-modal;

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity $time-modal;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: $color-secondary;

    &--pop-in {
      animation: popIn 0.5s ease-out;
      animation-fill-mode: forwards;
    }
  }

  &__heading {
    margin: 2rem 0;
  }

  &__svg {
    fill: #fff;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
  }

  &__closeButton {
    cursor: pointer;
    align-self: flex-end;
    font-size: 2rem;
    color: #fff;
    transition: all $time-button-hover;
    &:hover {
      @include button-hover;
    }
  }
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/

.footer {
  flex-grow: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;

  &--grid {
    color: $color-main;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    & {
      align-self: flex-end;
    }
  }
}

/*
########  #######  ########  ##     ##
##       ##     ## ##     ## ###   ###
##       ##     ## ##     ## #### ####
######   ##     ## ########  ## ### ##
##       ##     ## ##   ##   ##     ##
##       ##     ## ##    ##  ##     ##
##        #######  ##     ## ##     ##
*/

.form {
  flex-grow: 1;
  text-align: center;
  @include flex-center;

  &__container {
    display: grid;
    grid-gap: 1rem;
  }
  
  &__element {
    display: grid;
    grid-gap: 1rem;
    
    &--fieldset {
      border: none;
    }
  }
  
  &__legend {
    display: block;
  }
  
  &__input,
  &__description {
    border: none;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 100%;
  }
  
  &__birthdate {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 2fr;
  }
  
  &__radio-set {
    display: grid;
  }
  
  &__radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  &__input-radio {
    margin: 1rem;
  }
  
  &__submit-button {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: $color-secondary;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: $color-main;
    }
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    &__element {
      grid-template-columns: 1fr 400px 1fr;
      justify-content: center;
      align-items: center;
    }
  
    &__radio-set {
      grid-template-columns: 1fr 1fr;
    }
  
    &__label {
      text-align: right;
    }
  
    &__submit-button {
      grid-column: 2 / 3;
    }
  }
}