@import "normalize";
@import "variables";
@import "mixins";
@import "animations";
@import "helpers";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
}

button {
  background: none;
  border: none;
}

.fas {
  font-size: 2rem;
  pointer-events: none;
}

.fa-quote-right {
  vertical-align: top;
}

/*
########     ###     ######   ########
##     ##   ## ##   ##    ##  ##
##     ##  ##   ##  ##        ##
########  ##     ## ##   #### ######
##        ######### ##    ##  ##
##        ##     ## ##    ##  ##
##        ##     ##  ######   ########
*/

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
  pointer-events: none;

  &--onload {
    visibility: visible;
    opacity: 1;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: $layout-sm-padding;
  user-select: none;
  width: 100%;
  overflow: hidden;
  background: #fff;
  background: linear-gradient(45deg, $color-secondary 0%, rgba(96,210,214,1) 100%);

  @for $i from 1 to $images-amount {
    &--#{$i} {
      background: url("../assets/img/#{$i}.jpeg");
      background-position: center center;
      background-size: cover;
    }
  }
}

/*
##     ## ########    ###    ########  ######## ########
##     ## ##         ## ##   ##     ## ##       ##     ##
##     ## ##        ##   ##  ##     ## ##       ##     ##
######### ######   ##     ## ##     ## ######   ########
##     ## ##       ######### ##     ## ##       ##   ##
##     ## ##       ##     ## ##     ## ##       ##    ##
##     ## ######## ##     ## ########  ######## ##     ##
*/

.header {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
  z-index: 1;

  &--centered {
    @include flex-center;
    justify-content: flex-end;
    text-align: center;
    flex-grow: 1;
  }
  
  &__container {
    max-width: 70%;

    &--centered {
      max-width: none;
    }
  }
  
  &__heading {
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  &__description {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    & {
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      
      &--centered {
        justify-content: flex-end;
        align-items: center;
      }
    
      &__container {
        max-width: none;
      }

      &__heading {
        font-size: 2.2rem;
      }

      &__description {
        font-size: 1rem;
      }
    }
  }
}


/*
##    ##    ###    ##     ##
###   ##   ## ##   ##     ##
####  ##  ##   ##  ##     ##
## ## ## ##     ## ##     ##
##  #### #########  ##   ##
##   ### ##     ##   ## ##
##    ## ##     ##    ###
*/

.nav {
  @include flex-center;
  margin-top: 1rem;
  text-align: center;
  width: 100%;

  &__flex-list {
    @include flex-center;
    list-style: none;
  }

  &__grid-container {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 150px $layout-sm-padding;
    background: #000;
    visibility: hidden;
    overflow: auto;
    opacity: 0;
    transition: visibility 0s $time-mobile-menu, opacity $time-mobile-menu;

    &--visible {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity $time-mobile-menu;
    }
  }
  
  &__grid-list {
    width: 100%;
    max-width: $layout-grid-container-width;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    grid-gap: $layout-sm-grid-gap $layout-sm-grid-gap; 
    justify-items: stretch;
    align-items: stretch;
    z-index: 1;

    &::after {
      content: "";
      height: $layout-sm-padding;
      grid-column-start: 1;
      order: 1;
    }
  }
    
  &__grid-item {
    min-height: 80px;
    max-height: 120px;
    width: 100%;
    border-radius: $size-border-radius;
    overflow: hidden;
    transform: scale(1);
    transition: transform $time-grid-items;
    
    &--random,
    &--contact {
      order: 1;
    }
  }
    
  &__link {
    @include flex-center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    transition: all $time-grid-items;

    &--icon:hover {
      color: $color-main;
      transform: scale(1.5);
      transition: all $time-grid-items;
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  
  &__grid-link {
    height: 100%;
    width: 100%;

    @for $i from 1 to $images-amount {
      &--#{$i} {
        background: url("../assets/img/thumbs_200px/#{$i}.jpeg");
        background-position: center center;
        background-size: cover;
        filter: saturate(0);
      }
      &--#{$i}::after {
        content: "##{$i}";
        opacity: 0;
        transition: opacity $time-grid-items;
      }
      &--#{$i}:hover::after {
        content: "##{$i}";
        opacity: 1;
        transition: opacity $time-grid-items;
      }
      &--#{$i}:hover {
        filter: saturate(1);
        transform: scale(1.5);
      }
    }


    &--menu {
      background: none;

      &:hover {
        background-color: $color-main;
      }
    }
    
    &--contact {
      background: none;

      &:hover {
        background-color: $color-secondary;
      }

    }
  }
  
  &__day {
    color: $color-main;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0 1rem;
  }

  @media only screen and (min-width: $media-first-breakpoint) {
 
    & {
      justify-content: flex-start;
    }

    &__grid-container {
      background: linear-gradient(45deg, $color-secondary 0%, rgba(96,210,214,1) 100%);
    }

    &__grid-list {
      grid-template-columns: repeat(5, 1fr);
    }

  }
}

/*
########  ##     ## ########   ######   ######## ########
##     ## ##     ## ##     ## ##    ##  ##       ##     ##
##     ## ##     ## ##     ## ##        ##       ##     ##
########  ##     ## ########  ##   #### ######   ########
##     ## ##     ## ##   ##   ##    ##  ##       ##   ##
##     ## ##     ## ##    ##  ##    ##  ##       ##    ##
########   #######  ##     ##  ######   ######## ##     ##

########  ##     ## ######## ########  #######  ##    ##
##     ## ##     ##    ##       ##    ##     ## ###   ##
##     ## ##     ##    ##       ##    ##     ## ####  ##
########  ##     ##    ##       ##    ##     ## ## ## ##
##     ## ##     ##    ##       ##    ##     ## ##  ####
##     ## ##     ##    ##       ##    ##     ## ##   ###
########   #######     ##       ##     #######  ##    ##
*/

.buttons {
  position: fixed;  // MIXIN
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding: $layout-sm-buttons-offset;
  background-color: rgba(0,0,0,0);
  transition: all 0s;
  z-index: 1;

  &--background {
    background-color: rgba(0,0,0,1);
    transition: all 0s $time-mobile-menu;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    & {
      width: 200px;
      flex-direction: column;
      align-items: flex-end;
    }

    &--background {
      background: none;
    }
  }
}

.button {
  display: block;
  opacity: 1;
  width: 100%;
  max-width: $size-sm-buttons;
  transition: visibility 0s, opacity $time-mobile-menu;

  &--burger {
    cursor: pointer;
    transition: transform 0.3s;
    height: $size-sm-buttons;

    &:hover {
      color: $color-main;
      transform: scale(1.3) rotate(15deg);
      transition: transform 0.3s;
    }
  }

  &__burger-upper {
    width: 100%;
    transform-origin: 5% 100%;
    transition: transform 0.5s;

    &--open {
      transform: rotateZ(-20deg);
    }
  }

  &--random {

    &:hover {
      animation: shake 0.9s cubic-bezier(.36,.07,.19,.97);
      transform: translate(0, 0);
    }
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s $time-mobile-menu, opacity $time-mobile-menu;
  }
  
  &--bigger {
    max-width: $size-sm-buttons * 1.5;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    &--burger {
      margin-bottom: 1rem;
    }

    &--hidden-on-mobile {
      visibility: visible;
      opacity: 1;
    }
  }
}

/*
##     ##    ###    #### ##    ##
###   ###   ## ##    ##  ###   ##
#### ####  ##   ##   ##  ####  ##
## ### ## ##     ##  ##  ## ## ##
##     ## #########  ##  ##  ####
##     ## ##     ##  ##  ##   ###
##     ## ##     ## #### ##    ##
*/

.random {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;

  &__button {
    width: 100px;
    height: 100px;
    position: relative;
    white-space: nowrap;
    text-align: center;

    &::after {
      content: "Pull random quote!";
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translate(-50%, -500%);
      font-size: 0.8rem;
      text-align: center;
      color: #fff;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {
      @extend .button--random:hover;
    }
    
    &:hover::after {
      transform: translate(-50%, 0);
      opacity: 1;
      transition: all 0.5s 0.3s;
    }
  }

  @media only screen and (min-width: $media-first-breakpoint) {
    
    &__button {
      width: 150px;
      height: 150px;

      &::after {
        font-size: 1rem;
      }
    }
  }
}




/*
 #######  ##     ##  #######  ######## ########
##     ## ##     ## ##     ##    ##    ##
##     ## ##     ## ##     ##    ##    ##
##     ## ##     ## ##     ##    ##    ######
##  ## ## ##     ## ##     ##    ##    ##
##    ##  ##     ## ##     ##    ##    ##
 ##### ##  #######   #######     ##    ########
*/

.quote {
  text-align: center;
  
  &__heading {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: -4rem;
    color: rgba(255, 255, 255, 0.2);
  }

  &__blockquote {
    border-radius: 2rem;
    box-shadow: 0 0 0 50rem rgba(0, 0, 0, 0.2), 0 0 3rem rgba(0, 0, 0, 0.4);
    padding: 1rem;
    padding-top: 5rem;
    margin-bottom: 2rem;
    max-width: $layout-container-width;
  }
  
  &__text {
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-main;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  &__mark {
    font-size: 2rem;
  }
  
  &__author {
    text-align: right;
    font-size: 1rem;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    &__blockquote {
      padding: 3rem;
      padding-top: 8rem;
    }
    
    &__heading {
      font-size: 2.2rem;
      margin-top: 6rem;
      margin-bottom: -6rem;
    }

    &__text { font-size: 2rem; }
    &__mark { font-size: 3rem; }
  }
}




/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/

.footer {
  flex-grow: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;

  &--grid {
    color: $color-main;
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    & {
      align-self: flex-end;
    }
  }
}


/*
########  #######  ########  ##     ##
##       ##     ## ##     ## ###   ###
##       ##     ## ##     ## #### ####
######   ##     ## ########  ## ### ##
##       ##     ## ##   ##   ##     ##
##       ##     ## ##    ##  ##     ##
##        #######  ##     ## ##     ##
*/

.form {
  flex-grow: 1;
  text-align: center;

  &__container {
    display: grid;
    grid-gap: 1rem;
  }
  
  &__element {
    display: grid;
    grid-gap: 1rem;
    
    &--fieldset {
      border: none;
    }
  }
  
  &__legend {
    display: block;
  }
  
  &__input,
  &__description {
    border: none;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 100%;
  }
  
  &__birthdate {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 2fr;
  }
  
  &__radio-set {
    display: grid;
  }
  
  &__radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  &__input-radio {
    margin: 1rem;
  }
  
  &__submit-button {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: $color-secondary;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: $color-main;
    }
  }

  @media only screen and (min-width: $media-first-breakpoint) {

    &__element {
      grid-template-columns: 1fr 400px 1fr;
      justify-content: center;
      align-items: center;
    }
  
    &__radio-set {
      grid-template-columns: 1fr 1fr;
    }
  
    &__label {
      text-align: right;
    }
  
    &__submit-button {
      grid-column: 2 / 3;
    }
  }
}